*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color:#100E17;
    height: 100%;
    }

table, td, tr {
        background-color: #202226;
        color:#fff;
        padding-bottom: 2%;
    

    }

th{
        background-color: #383d47;
        font-size: 1em;
        padding: 1%;
        text-align: start;
        text-transform: capitalize;

    }
   
    table{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;

    }
    td{
        text-align:start;
        padding: 1%;
        border: 1px solid #383d47;
        margin: 2%;
        font-size: 0.8em;

    }
    p{
        color: white;
        font-size: 0.8em;
    }
    h6{
        font-size: 0.9em;
    }
    
    .flex-container {
        display: flex;
        justify-content: center;
    
    }
    .flex-child {
        justify-content: center;
        width: 25%;
        padding: 5px;
        
    }
     .act {
        text-align: center;
        color:#d32f2f;	
    }
    .con {
        text-align: center;
        color:#1e88e5;	
    }
    .cur{
        text-align: center;
        color:#43a047;	
    }
    .det {
        text-align: center;
        color:#546e7a;	
    }  
    .social-media{
        display: flex;
        justify-content: center;
        margin: 5% 0%;
    }

   .social-media a{

       display: inline-flex;
       color: #fff;
       justify-content: center;
       border-radius: 50%;
       align-items: center;
       text-decoration: none;
       width: 50px;
       height: 50px;
       margin-right: 3%;

   }
   .social-media a .fa{
      font-size: 2rem;
        margin-right: 5%;

   }
   .social-media .git:hover {
       background-color: #fff;
       color: #000;
   }
   .social-media .ig:hover {
    background-color: #fff;
    color: #fb3958;
}
.social-media .tw:hover {
    background-color: #fff;
    color: #1DA1F2;;
}
.social-media .de:hover {
    background-color: #fff;
    color: #000;
}

@media only screen and (min-width: 768px){

    .table{
        width: 90%;
        font-size: 1.8em;
        table-layout: auto;
        
    }
    .Total{
        font-size: 1.9em;
        margin: 0;
        padding: 2%;
        padding-bottom: 4%;
    }
    h6{
        font-size: 0.9em;
    }
    p{
        font-size: 0.9em;
    }
    
}
@media only screen and (min-width: 992px){

    .table{
        width: 90%;
        font-size: 1.8em;
        table-layout: auto;
        
    }
    .Total{
        font-size: 1.9em;
        margin: 0;
        padding: 2%;
        padding-bottom: 4%;
    }
    h6{
        font-size: 0.9em;
    }
    p{
        font-size: 0.9em;
    }
    
}
@media only screen and (min-width: 1200px){

    .tables{
        width: 80%;
        margin: 5%;
        margin: 0 auto;
        font-size: 10px;
        
    }
   
    .Total{ 
        margin: 0;
        padding: 2%;
        padding-bottom: 4%;
        height: 30%;
    }
    h6{
        font-size: 0.9em;
    }
    p{
        font-size: 0.9em;
    }
    
    
}
